body {
    background: url('../images/shadow-bg.jpg') top center no-repeat #412011 fixed;
    background-size: cover;
    font: 16px open sans,sans-serif;
    padding-top: 80px;
    padding-bottom: 10px;
    color: #ebdec2;
}

h1, h2, h3, h4 {
    color: #f8b700;
}

@media (max-width: 992px) {
    .navbar-collapse {
        position: fixed;
        top: 70px;
        right: 0;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        width: 45%;
        height: 100%;
        background-color: #532408;
    }

    .navbar-collapse.collapsing {
        right: -45%;
        transition: height 0s ease;
    }

    .navbar-collapse.show {
        right: 0;
        transition: right 300ms ease-in-out;
    }

    .navbar-toggler.collapsed ~ .navbar-collapse {
        transition: right 500ms ease-in-out;
    }
}

.dropdown-menu {
    background: rgba(72, 33, 0, 0.8);
    border: 1px solid rgb(190, 97, 19);
}


.paypal {
    color: #3B7BBF;
}


.dropdown-item:focus, .dropdown-item:hover {
    color: #482100;
    text-decoration: none;
    background-color: #f7b10a;
}

.dropdown-item {
    color: #f7b10a;
}

.wowhead-tooltip-powered {
    display: none !important;
    visibility: hidden;
}

#card-wow {
    color: #ebdec2;
    background-color: rgba(72, 33, 0, 0.5);
    border: 1px solid rgb(190, 97, 19);
}

.card {
    border: 1px solid rgb(190, 97, 19);
}

.btn-link {
    color: #f8b700;
}

.btn-link:hover {
    color: #f8e879;
    text-decoration: none;
}

.navbar-dark .navbar-nav .nav-link {
    font: 20px open sans,sans-serif;
    color: #f7b10a;
}

.table {
    color: #f7b10a;
}

.table-hover tbody tr:hover {
    color: #f7b12c;
}

.table td, .table th {
    border-top: 1px solid rgba(190,97,19,.5);
}

/* Top nav */
#main-nav {
    position: relative;
    height: 70px;
    background: url("../images/shadownav-bg.png") top center no-repeat #532408;
    box-shadow: 0 5px 7px rgba(38, 16, 5, 0.45);
    z-index: 5;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; }
#main-nav .wow-link { cursor: pointer; display:block; float: left; }

#main-nav .wow-link { padding: 11px 15px 0; width: 49px; height: 59px; background-color: #341502; transition: background .4s; }
#main-nav .wow-link:hover { background-color: #deae26; }
#main-nav .wow-link:hover .icon.wow { background-position: -50px 0; }

.icon { display: block; float: left; background-image: url("../images/sprite-sheet.png"); text-indent: -9999px; }
.icon.wow { background-position: 0 0; width: 49px; height: 49px; }
.icon.fb { background-position: -148px 0; width: 23px; height: 23px; }
.icon.twitter { background-position: -172px 0; width: 29px; height: 24px; }
.icon.vkontakt { background-position: -345px 0; width: 23px; height: 23px; }
.icon.globe { background-position: -100px 0; width: 23px; height: 23px; }
.icon.down-arrow-small { background-position: -334px 0; width: 10px; height: 6px; }
.icon.down-arrow { background-position:-203px 0; width: 59px; height: 59px; }
.icon.up-arrow-circle { background-position:-265px 0; width: 56px; height: 55px; }


a.wow{
    color: #deae26;
}
a.wow:visited {
    color: #deae26;
}

.navbar-toggler-icon {
    color: #deae26;
}

.navbar-toggler {
    border: 1px solid #deae26;
}

input[type=text] {
    color: #deae26;
    background-color: rgba(72, 33, 0, 0.50);
    border: 1px solid rgb(190, 97, 19);
}

input[type=text]:active,hover,focus{
    color: #deae26;
    background-color: rgb(195, 138, 0);
    border: 1px solid rgb(190, 97, 19);
}

input[type=password] {
    color: #deae26;
    background-color: rgba(72, 33, 0, 0.50);
    border: 1px solid rgb(190, 97, 19);
}

input[type=password]:active,hover,focus{
    color: #deae26;
    background-color: rgb(195, 138, 0);
    border: 1px solid rgb(190, 97, 19);
}

input[type=email] {
    color: #deae26;
    background-color: rgba(72, 33, 0, 0.50);
    border: 1px solid rgb(190, 97, 19);
}

input[type=email]:active,hover,focus{
    color: #deae26;
    background-color: rgb(195, 138, 0);
    border: 1px solid rgb(190, 97, 19);
}


.class-11 {
    color: #ff7c0a;
}

.class-6 {
    color: #c41e3b;
}

.class-12 {
    color: #a330c9;
}

.class-8 {
    color: #68ccef;
}

.class-7 {
    color: #2359ff;
}

.class-3 {
    color: #aad372;
}

.class-2 {
    color: #f48cba;
}

.class-5 {
    color: #f0ebe0;
}

.class-10 {
    color: #00ffba;
}

.class-1 {
    color: #c69b6d;
}

.class-4 {
    color: #fff468;
}

.class-9 {
    color: #9382c9;
}

.bg-dark {
    color: #572300;
}

.nav-wow {
    color: #532408;
}

.nav-tabs {
    border-bottom: 1px solid rgb(190, 97, 19);
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #f7b10a;
    background-color: #fff;
    border-color: #BE6113 #BE6113 #BE6113;
}